ref/
dep/

src/msp430-ipe-sail/msp430
src/msp430-ipe-sail/msp430test
src/msp430-ipe-sail/test/integration/res.csv

src/musail-gen/base.v
src/musail-gen/machine.v
src/musail-gen/*.glob

z3_problems
_*/
out

todo.org